
@{
    ViewBag.Title = "AboutMe";
}

<h2>Something about the programmer</h2>
<div class="w-50" style="background-color: #eee;">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h4>Bio</h4>
            <p>
                The programmer is female first of all! Her name is MMAPULA RAMPEDI . She is student  at the  University of Pretoria .She is in her second
                year there and studying Bcom informatics. She likes programming and writing stories. She likes going out to the movies , her favourite movie is Ambulance , a film
                directed by the wonnderful Michael Bay. Programming is not like mathematics , it changes daily. Any programmer can create code that might be useful and change over lives.
                This programmer believes that the world will soon revolve around technology.One day I would like to have a cup of tea with the brillant Mark Zuckerberg and just talk about 
                his business ventures also Bill Gates  is number two on my list. 
            </p>
        </div>

        <div class="col-xs-6 col-md-4">
            <img width="280" height="280" class="card-responsive" src="~/Media/IMG_20220311_195227.jpg" alt="Card image cap ">
        </div>
        </div>
    </div>
